

body {
 margin: 0;
 padding: 0;
 box-sizing:  border-box;
 background-color:  #E3EAF2; 
 color: #666666;
 font-family: "Montserrat" , sans-serif;

}

.material-icons-outlined {
   vertical-align: middle;
   line-height: 1px;
   margin-right: 8px;
  


}

.grid-container {
 
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
     "sidebar header header header"
     "sidebar main main main";
    height: 100vh;

}

/* --------------HEADER-------------- */
.header {
    grid-area: header;
    height: 70px;  
    max-height: 70px;
    background-color: #242f49;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 30px 0 30px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.4);

}

.header-right{
  color: white;
  margin-right: 15px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  color: whitesmoke;
  cursor: pointer;
  


}
.notper-button{
  border-radius: 10px;
  border: none;
  color: #ffffff ;
  background-color: #242f49;
}

/* --------------SIDEBAR-------------- */
#sidebar {
  
    grid-area: sidebar;
    flex-shrink: 0;
    height: 100%;
    background-color: #242f49;
    color: #dcd7d7;
    overflow-y: auto;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    margin-left: 0.1rem;
    -webkit-transition: all 0.5s ;
    transition: none;
  

}


.sidebar-title {

  display: flex;
  
  justify-content:  space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 25px;

}

.sidebar-title > span {
    display: none;
    cursor: pointer;

 }


 .sidebar-brand {
    
  
    margin-top: 4px;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    
}

 .sidebar-list {
   padding: 0px;
   margin-top: 15px;
   list-style-type: none;
   

 }
 .sidebar-list-item {
   display: flex;
   padding: 20px 20px 20px 10px;
   gap: 10px;
   align-items: center;
   font-size: 14px;
   width: 100%;

 }

 .sidebar-list-item a{
  text-decoration: none;
  color: #dcd7d7;
  display: flex;
  gap: 10px;
 }


 .sidebar-list-item:hover{
    background-color: rgba(101, 157, 168, 0.705);
    cursor: pointer;
 }

 .sidebar-responsive {

  display: inline !important;
  position: absolute;
 
 

 }
 li.cizgi{
  border-top: 1px solid #ccc;
  margin-top: 9px;
 }



/* --------------MAIN-------------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    
}

.main-dateinput{
  width: 16px;
  color: #0c3764;
  font-style: normal;

}

 .date-input{

  height: 50px;
  width: 180px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 6px;


}

.main-title {

 display: flex;
 justify-content: space-between;
}

.main-title > p {

    font-size: 20px;
    

}
.main-cards{
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
  
  

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3  ;
    border-radius: 25px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    
    
    
    
    

}


.card>span{
  color: #2b598b;
}
.card-inner:first-child>span{
  color: #0b3159;
}

.card:first-child {
    border-left: 7px solid #246dec;
    
    
    
}

.card:nth-child(2) {
  
    border-left: 7px solid #f5b74f;
    
   
}

.card:nth-child(3) {
  border-left: 7px solid #367952 ;
  
  


}

.card:nth-child(4) {
   border-left: 7px solid #cc3c43;
   
   

}

.card > span {
    font-size: 25px;
    font-weight: 600;

}

.card-inner {
 
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.card-inner > p {

  font-size: 13px;

}

.card-inner > span {

    font-size: 40px;
}


.charts {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap:10px;
   flex-wrap: wrap;
   max-width: 100%;
   
   

}

.charts-card {
   
   background-color: #ffffff;
   
   margin-bottom: 20px;
   margin: 15px;
   padding: 8px;
   box-sizing: border-box;
   -webkit-column-break-inside: avoid;
   border: 1px solid #d2d2d3;
   border-radius: 35px;
   box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
   width: 560px;
   height: 380px;
}


.charts-cards {
  
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: -70px;
  gap: 4px;
  padding: 8px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 1px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.8);
  width: 450px;
  height: 350px;
}

.charts-cardss {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-top: -1px;
  padding: 2px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 1px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  width: 450px;
  height: 350px;
}

.chart-title {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;

}



/* Yaklaşan Ödemeler kısmı*/


.box{
   border: 2px solid white;
   padding: 10px 20px;
   display: inline-block;
   background-color: #fdfdfd;
   border-radius: 25px;
   box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3)

}




main .recent-orders{
   margin-top: 2rem;
   
   
}

main .recent-orders h2{
  margin-bottom: 0.8rem;
}

main .recent-orders table{
  background: white;
  width: 100%;
  border-radius: 25px;
  padding: 28px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  transition: all 300ms case;


 
 
}

main .recent-orders table:hover{
  box-shadow: none;

}

main table tbody td {
   height: 2.8rem;
   width: auto;
   border-bottom: 1px solid lightblue ;
   color: darkcyan;

}

main table tbody tr:last-child td{
  border: none;
}

main .recent-orders a{
  
  text-align: left;
  display: block;
  margin:  9px;
  color: rgb(114, 70, 210);
  text-decoration: none;


}

main .recent-orders button{
  background-color: rgb(234, 237, 240);
  margin: 1%;
  border-radius: 20px;
  width: 95px;
  height: 35px;
  box-shadow: 0 4px 15px rgba(232, 233, 235, 0.3); 
}








/*--media düzen--*/

/*oretada 992*/
 @media screen  and (max-width: 992px){
  .grid-contanier{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "header"
    "main";
  }
  #sidebar{
    display: none;
    z-index: 10;
  }

  .menu-icon{
    display: inline;

  }

  .sidebar-title > span{
   
    display: inline;

  }
  
 
 } 
/*küçükte 768*/
@media screen and (max-width: 768px){
  .main-cards{
    
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
   
    
  }
  #sidebar{
    z-index: 10;
  }
  
  .charts{
    
    grid-template-columns: 1fr;
    margin-top: 30px;

  }
  main .recent-orders table{
    width: 100%;
    
    padding: 15px; 
    font-size: 15px;
    


  }

  .container{
    height: 40%;
    width: 50%;
   
  }

  .toggle-box{
    width: 50%;
    height: 50%;
  }

}
/*daha küçük 576*/
@media screen and (max-width: 576px) {
  .header-left{
    display: inline;
  }
  #sidebar{
    
    z-index: 10;
  }
  .charts{
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    margin-top: 5px;
    width: 100%; 
    padding: 0 10px; 
    box-sizing: border-box;
    align-items: center; 
    

  }
  .charts-card {
    width: 100% ; 
    max-width: 100% ; 
    height: auto; 
    padding: 15px; 
    font-size: 10px;
    word-wrap: break-word; 
    box-sizing: border-box; 
    
  }

  main .recent-orders table{
    width: 100%;
     
    height: 1.2rem; 
    padding: 15px; 
    font-size: 15px;
    

  }

  .container{
    height: auto;
    width: 100%;
  }

  .toggle-box{
    height: auto;
    width: 100%;
  }


}


/*-------------------------------İşlemler css ----------------------------*/

.table-box{
  border: 4px solid white;
  padding: 10px 20px;
  display: inline-block;
  background-color: #fdfdfd;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  font-size: 19px;
}

.open-btn{
 background-color: #367cf6;
 color: #0f2a5a;
 padding: 10px 13px;
 border: none;
 font-size: 14px;
 border-radius: 15px;
 cursor: pointer;
 transition: #367cf6 0.3s ease ;
 margin: 14px;
 margin-left: 1px;
 display: block;
}

.open-btn:hover{

  background-color: #5e6e8a;

}
.open-btn > span{
  font-size: 18px;
  margin-right: 6px;
  vertical-align: middle;
}


main .transaction{
  margin-top: 2rem;
}

main .transaction h2{
 margin-bottom: 0.8rem;
}

main .transaction table{
 background: white;
 width: 100%;
 border-radius: 25px;
 padding: 28px;
 text-align: center;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
 transition: all 300ms case;
}

main .transaction table:hover{
 box-shadow: none;

}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid lightblue ;
  color: darkcyan;

}

main table tbody tr:last-child td{
 border: none;
}

.edit-btn , .delete-btn{

  border-radius: 10px;
  border:none;
  color: #3d658e;
  background-color: #fcf1f1;
  

}
.delete-btn:hover{
  color: #e74c3c;
}

.edit-btn:hover{
  color: #21aa58;
}



/*açılır prncere*/
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  
 
 }
 
 .modal form {
  position: relative;
  min-width: 30%;
  width: 30%;
   display: flex;
   flex-direction: column;
   padding: 2rem;
   background: white;
   border-radius: 1.5rem;
   font-size: 1.3rem
 }

 #modal-kapat{
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(97, 90, 90);
  padding: 0.5rem;
 
  cursor: pointer;
  z-index: 10; 
 }
 #modal-kapat:hover{
  background-color: #db0a0a;
 }

 .modal form input{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
 

 }

 .modal form select{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
  border-radius: 12px;
  border-color: black;
  
  
 }




 .form-btn{
  width: 50%;
  height: 60%;
  background-color: #3c65cc;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: #367cf6 0.3s ease ;
  margin: 14px;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .form-btn:hover{
  background-color: #5eb6fd;

 }

 .modal form input{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;

 }

 .modal form label{
  display: block;
  margin-top: 10px;
 }

.modal form  select{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;

  
}


/* silinebilir modal */

.open-btnn{
  background-color: #367cf6;
  color: #0f2a5a;
  padding: 10px 13px;
  border: none;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  transition: #367cf6 0.3s ease ;
  margin: 14px;
  margin-left: 1px;
  display: block;
 }
 
 .open-btnn:hover{
 
   background-color: #5e6e8a;
 
 }
 .open-btnn > span{
   font-size: 18px;
   margin-right: 6px;
   vertical-align: middle;
 }
 


.modall{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  
 
 }
 
 .modall form {
  position: relative;
  min-width: 30%;
  width: 30%;
   display: flex;
   flex-direction: column;
   padding: 2rem;
   background: white;
   border-radius: 1.5rem;
   font-size: 1.3rem
 }

 #modal-kapatt{
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(97, 90, 90);
  padding: 0.5rem;
 
  cursor: pointer;
  z-index: 10; 
 }
 #modal-kapatt:hover{
  background-color: #db0a0a;
 }

 .modall form input{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
 

 }

 .modall form select{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
  border-radius: 12px;
  border-color: black;
  
  
 }




 .form-btn{
  width: 50%;
  height: 60%;
  background-color: #3c65cc;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: #367cf6 0.3s ease ;
  margin: 14px;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .form-btn:hover{
  background-color: #5eb6fd;

 }

 .modall form input{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;

 }

 .modall form label{
  display: block;
  margin-top: 10px;
 }

.modall form  select{
  margin: 0.5rem 0 ;
  padding: 0.5rem;
  font-size: 1.2rem;

  
}

/*debt html sayfası için*/

.status{
  font-weight: bold;
}
.status-odendi{
  color: #24c868;
}

.status-odenmedi{
  color: red;
  
}
.status-odeniyor{
  color: orange;
}


/*abonelik html sayfası için*/

.yenilenme{
  font-weight: bold
}
.yenilenme-aylık{
  color: #007bff;
}
.yenilenme-yıllık{
  color: #28a745;
}

/*LOGİN*/

.login-body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg,#edebeb,#6778b0);

}

.container{
  position: relative;
  width: 850px;
  height: 550px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.form-box{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  z-index: 1;
  
}

form{
  width: 100%;
}

.container h1{
  font-size: 36px;
  margin: -10px 0;
}

.input-box{
  position: relative;
  margin: 30px 0;
}

.input-box input{

  width: 80%;
  padding: 13px ;
  background: #eee ;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}


.input-box input::placeholder{
  color: #888;
  font-weight: 400;

}

/*.input-box{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;

}*/

.forgot-link{

  margin: -15px 0 15px;
  padding: 25px;


}

.forgot-link a{
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}

.btn-btn{
  width: 40%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 70px;
  
}

.btn{
  width: 40%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container p{
  font-size: 14.5px;
  margin: 15px 0;
}


/*Kayıt ol*/

.form-box.register{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: seagreen;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
 
  
}


/*sol taraf*/

.toggle-box{
  position: absolute;
  width: 100%;
  height: 100%;

}

.toggle-box::before{

  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #7494ec;
  border-radius: 150px;
  z-index: 2;
}
.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.toggle-panel p {
  margin-bottom: 20px;
}


.toggle-panel .btn{
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

/*Ayarlar kısmı*/

.setting-container{

  display: flex;
  
  height: 100vh;
  width: 100%;
  margin: 50px 10px;
  margin-left: 100px;
}

.account{
  
  margin-left: 8px;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border-radius: 5px;
  height: max-content;
  width: 900px;
  padding: 20px;
  

}

.account-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #768499;
}

.account-title{
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 10px;
}

.btn-container{
  margin-right: 5px;
}

.btn-cancel{
  width: 8em;
  height: 3em;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 2em;
  color: #0b3159;
  font-weight: bold;
  margin-right: 5px;
  background-color: white;
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.btn-cancel:hover{
  background-color: #568feb;
}


.account-edit{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;

}

.input-container label{

  font-family: "Poppins",sans-serif;
  color: #074348;
  font-size: 17px;
}

.input-container input{
  height: 25px;
  border:1.5px solid #22667c;
  border-radius: 5px;
  padding: 5px;
  color: #37718b;
  font-family: "Poppins",sans-serif;
}




.notification-box {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.notification-box h4 {
  margin: 10px;
  font-size: 17px;
  border-bottom: 1px solid #1c1919;
  padding-bottom: 5px;
  color: #0b0c0d;
  cursor: pointer;
}

.notification-box ul {
  list-style: none;
  padding: 0 10px 10px 10px;
  margin: 0;
}

.notification-box ul li {
  padding: 8px;
  border-bottom: 1px solid #7d7a7a;
  font-size: 15px;
  color: #0b0c0d;
  cursor: pointer;
}

.notification-box ul li:hover{
  background-color: #7b9ba5;
}

.notification-box ul li:last-child {
  border-bottom: none;
}



/*şifremi unuttum kısmı*/


.row{
  background-color: #7494ec;
  color: #2e3b63;
  text-align: center;
  padding: 2em 2em 0.5em;
  width: 30%;
  margin: 2em auto;
  border-radius: 50px;
  margin-top: 6em;
}

.row h1{
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row .form-group{
 
   margin: 0.5rem 0;
}

.row .form-group label{
  display:block;
  color: #fffefe;
  text-align: left;
  font-weight: 400;
}



.row .form-group input , .row .form-group button {
  display: block;
  padding: 0.5em 0;
  width: 100%;
  margin-top:1em;
  margin-bottom: 0.5em;
  background-color: inherit;
  border: none ;
  border-bottom: 1px solid #fffdfd;
  color: #ffffff;


}
.row .form-group input{
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 4em;
  padding-top: 1.5em;
}





.row .form-group input:focus , .row .form-group button:focus {

  background-color: #fff;
  color: #000;
  border: none;
  padding: 1em 0.5em;
  animation: pulse 1s infinite ease;


}

.row .form-group a {
  text-decoration: none;

}
.row .form-group button {
  border: 1px;
  border-radius: 15px;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  color: #09234f;
  font-weight: 800;
  cursor: pointer;
  margin-top: 3.5em;
  padding: 1em;
  
}

.row .form-group button:hover , .row .form-group button:focus {
  background-color: #fff;
}

.row .form-group button.is-loading::after{
  animation: spinner 500ms infinite linear;
  content: '';
  position: absolute;
  margin-left: 2em;
  border: 2px solid #000;
  border-radius: 100%;
  border-right-color: transparent;
  border-left-color: transparent;
  height: 1em;
  width: 4%;
}

.row .footer h5{
  margin-top: 1em;
}

.row .footer p{
  margin-top: 2em;
}

.row .footer p .symbols{
  color: #0c3764;
}

.row .footer a{
  color: inherit;
  text-decoration: none;
}
.information-text{
  color: #fff;
}

.row  h2{
  color: #092f72;
}

/*logo*/
.modal form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  z-index: 999;
}


#sidebar {
  overflow-y: auto;      /* Dikey scroll */
  max-height: 100vh;     /* Ekran yüksekliğini aşmasın */
}

